@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

@theme {
  --color-primary: #574fe8;
  --color-gray-light: #ececec;
  --color-gray-dark: #343434;
  --color-fine-print: #939393;
  --color-red: #ab3133;
  --color-red-light: #ffb3ad;
  --color-green: #31ab3d;
  --color-green-light: #adffb3;
}

h1:not(.custom) {
  @apply text-3xl font-bold;
}

h2:not(.custom) {
  @apply text-2xl font-bold;
}

h3:not(.custom) {
  @apply text-xl font-bold;
}

h4:not(.custom) {
  @apply text-lg font-bold;
}
p:not(.custom),
label {
  @apply text-sm;
}

p:not(.fine-print) {
  @apply text-gray-dark;
}

p.fine-print,
label {
  @apply text-fine-print;
}

p.error {
  @apply text-red;
}

p.success {
  @apply text-green;
}

p.topic-tag {
  @apply text-xs px-2 py-1 rounded-full;
}

input,
select,
textarea {
  @apply bg-white placeholder-fine-print rounded-full px-4 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary text-gray-dark w-full;
}

input.not-rounded,
select,
textarea {
  @apply rounded-lg;
}

button:disabled {
  @apply cursor-not-allowed opacity-50;
}
