@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

@theme {
  --color-primary: #574fe8;
  --color-gray-light: #ececec;
  --color-gray-dark: #343434;
  --color-fine-print: #939393;
  --color-red: #ab3133;
  --color-red-light: #ffb3ad;
  --color-green: #31ab3d;
  --color-green-light: #adffb3;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-bold;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

p:not(.fine-print) {
  @apply text-sm text-gray-dark;
}

p.fine-print {
  @apply text-sm text-fine-print;
}

input {
  @apply bg-white placeholder-fine-print rounded-full px-4 py-2 border border-gray-300 focus:outline-none focus:ring-2 focus:ring-primary text-gray-dark w-full;
}
