@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "Lexend", sans-serif;
  box-sizing: border-box;
}

@theme {
  --color-primary: #574fe8;
  --color-gray-light: #ececec;
  --color-gray-dark: #343434;
  --color-fine-print: #939393;
  --color-red: #9e0f11;
  --color-red-light: #c10007;
  --color-green: #31ab3d;
  --color-green-light: #adffb3;
}

h1:not(.custom) {
  @apply text-3xl font-bold;
}

h2:not(.custom) {
  @apply text-2xl font-bold;
}

h3:not(.custom) {
  @apply text-xl font-bold;
}

h4:not(.custom) {
  @apply text-lg font-bold;
}
p:not(.custom),
label {
  @apply text-xs;
}

p:not(.custom) {
  @apply text-gray-dark;
}

p.fine-print,
label:not(.custom) {
  @apply text-fine-print;
}

p.error {
  @apply text-red;
}

p.success {
  @apply text-green;
}

p.topic-tag {
  @apply text-xs px-2 py-1 rounded-md text-white w-fit;
}

.smart-wrap {
  overflow-wrap: break-word;
  word-break: break-word;
}

input:not(.custom),
select,
textarea {
  @apply bg-white placeholder-fine-print rounded-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-1 focus:ring-primary/80 text-gray-dark w-full text-sm shadow-xs;
}

input.not-rounded,
select,
textarea {
  @apply rounded-lg;
}

button:disabled {
  @apply cursor-not-allowed opacity-50;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInUpwards {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: fadeIn 0.3s ease-out forwards;
}

.fade-in-upwards {
  animation: fadeInUpwards 0.3s ease-out forwards;
}

.home-sign-in {
  border-radius: 500px;
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.home-sign-up {
  border-radius: 500px;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
